body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  text-align: center;
  background-color: wheat;
}

h1 {
  color: black;
}

.timer {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.field {
  color: chartreuse;
}

.value {
  border: 5px solid yellow;
  padding: 5px;
  color: grey;
  margin: 0 20px;
  font-size: 30px;
}

.label {
  color: grey;
  font-size: 30px;
  border-radius: 3px sold greenyellow;
}
